<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/styles/panel.css" />
</head>
<body>
  <h1>Selection GPT</h1>
  <p>Analyze and review selected text with gpt.</p>
  <section>
    <h2>API Settings</h2>
    <label for="input-api">Api Key:</label>
    <input id="input-api" type="text" placeholder="..." />
    <button id="button-api">Update</button>
    <p>Don't have one? Sign up with openai and create one <a href="https://platform.openai.com/api-keys">here</a>.</p>
  </section>
  <section>
    <h2>Selected Text</h2>
    <div class="overflow-display">
      <span id="span-selection">...</span>
    </div>
  </section>
  <section>
    <h2>Actions</h2>
    <ul>
      <li>
	<button id="button-summary">Summary</button>
      </li>
      <li>
	<button id="button-quiz">Quiz</button>
      </li>
      <li>
	<input id="input-custom" type="text" />
	<button id="button-custom">Custom</button>
      </li>
    </ul>
    <div id="gpt-output">
      <div id="output-loading" class="hidden">
        <p>Loading...</p>
      </div>
      <div id="output-plain" class="hidden">
        <h3></h3>
	<p></p>
      </div>
      <div id="output-multi-choice" class="hidden">
        <h3></h3>
	<p></p>
	<ul></ul>
	<button>Answer</button>
	<output></output>
      </div>
    </div>
  </section>
  <script src="/scripts/panel.js"></script>
</body>
</html>
